.banner{
    margin: 20px 50px;
    display: flex;
    justify-content: space-around;
}
.banner-left{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-left-1{
    font-size: 30px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.banner-left-2{
    font-size: 30px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(62, 91, 175);
}
.banner-left-3{
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.banner-right {
    /* height: 400px;
    width: 400px; */
    padding: 10px;
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  .banner-right img{
    object-fit: contain;
    height: 100%;
  }

  @media only screen and (max-width:480px) {
    .banner{
        flex-direction: column;
    }  
    
    .banner-left{
          order:2;
      }
      .banner-right{
          order:1;
      }
      
  }